.main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.canvas {
  height: 85vh;
  width: 95vw;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(211, 211, 211);
}


.equ-card {
  min-height: 15vh;
  display: inline-block;
  z-index: 0;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  font-size: calc(10px + 2vmin);
  min-width: 15vw;
  padding: .5rem;
  text-align: center;
}

.equ-card-textarea {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  font-family: 'Rubik', sans-serif;
  background-color: rgb(218, 218, 218);
  padding: 1rem;
  font-size: calc(0px + 2vmin);
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}